*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  
   
    font-family: sans-serif;
    padding: 4rem;
    background-color: rgb(15, 82, 104);
    color: #fff;
    
    
}
.image{
    padding-left: 10rem;
    height: 50rem;
    width: 50rem;


}
.div1{
    display: flex;
}
.div2{
    padding-top: 18rem;
    padding-left: 8rem;
}
.btn{
    border-radius: 0.5rem;
    background-color:aqua;
    color: black;
    height: 3rem;
    width: 8rem;
    margin-top: 1rem;
    margin-left: 18rem;

}
.btn:hover{
    background-color:black;
    color: gray;
}
p{  
    padding-top: 1rem;
    color: white;
    font-size: 2rem;
    
}
h1{
    font-size: 3rem;
}

